---
import CustomTitle from "../components/CustomTitle.astro"
import MainLayout from "../layouts/MainLayout.astro"

const title = 'About'

---
<MainLayout title={title}>
    <h1>{title}</h1>

    <h3>Prueba en about</h3>

    <CustomTitle title="Custom title" />

</MainLayout>

<!-- <style is:global> -->
<style>
    h1{
        color: red;
    }
</style>