---
import MainLayout from "../layouts/MainLayout.astro"

const name = 'Alex Berríos Espinoza'
const title = 'Astro Home page'

---
<MainLayout title={title}>
		<h1>{name}</h1>
		<p>
			Momento actual: {new Date().toLocaleString()}
		</p>

		<h2>Prueba</h2>
</MainLayout>
